body {
	padding-left: 4%;
	padding-top: 20px;
}
th#left { width: 180px; }
th#right { width: auto; }
td { display: auto; }
td.menu {
	padding-top: 20px;
	position: fixed;
	padding-right: 40px;
	width: 160px;
}
ul.menu {
	list-style-type: none;
	padding: 0;
}
td.main {
	max-width: 700px;
	text-align: justify;
}
h1 {
	padding-top: 40px;
	padding-bottom: 40px;
	font-size: 150%;
	font-weight: normal;
}
p {
	padding-left: 16px;
	margin-bottom: 12px;
	margin-top: 2px;
}
div#about { padding-bottom: 40px; }

h2 {
	font-size: 120%;
}
h3 {
	font-size: 110%;
}
div.sub_stuff {
	margin-bottom: 60px;
	border-left: 2px solid black;
	padding-left: 24px;
	margin-left: 20px;
}
img { width: 60%; }



@media only screen and (max-device-width: 700px) {
	body { font-size: 250%; }
	td { display: block; }
	th#left { width: 100%; }
	th#right { width: 100%; }
	td.menu {
		position: static;
		padding: 6%;
		width: 100%;
	}
	td.main { width: 100%; }
}
